/*
 * PIS projekt
 * main-color: #00695c;
 * main-color-darken: #005046;
 * primary-color: #ffa000;
 * primary-color-lighten: #ffaa1a;
 */

body{
	padding-top: 70px;
}

h1{
  text-align: center;
}

.bg-main{
  background-color: #00695c;
}

.nav>li>a:hover, .nav>li>a:focus {
	background-color: #005046;
}

.btn-info{
  background-color: #ffa000;
  color: white;
  border: none;
}

.btn-info:hover, .btn-info:focus, .btn-info:active{
	background-color: #ffaa1a !important;
}

.nav>li>a, .navbar>.container .navbar-brand{
  color: white;
}

.form-control{
	margin-bottom: 20px;
}

.form-add-user{
	margin-top: 40px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, 
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover, 
.dataTables_wrapper .dataTables_paginate .paginate_button:hover
{
	border: none;
	background: #00695c;
	color: white !important;
}

.navbar-toggle span{
	color: white;
	border-color: white;
	background-color: white;
}

.progress{
	margin-top: 10px;
}

.progress-bar-success{
	background-color: #00695c;
}

/* Login page */

.login-container{
	background-image: url("../img/login-bg.jpg");
    background-color: #00897B;
    background-size: cover;
	background-repeat: no-repeat;
}

.login-container .jumbotron{
	margin-top: 10%;
	background-color: rgba(238, 238, 238, 0.8);
}

.error{
	color:red;
	display: block;
	margin-top: -20px;
	margin-bottom: 20px
}

.error-title{
	margin-bottom: 20px;
	display: block;
}